body {
    height: 100%;
    color: orangered;
    background-color: turquoise;
}

h1 {
    text-align: center;
}

/* #me {
    height: 400px;
    width: 275px;
} */

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: teal;
    text-align: center;
    background: orangered;
}